body {
  margin: 0px;
  font-family: 'Hiragino Kaku Gothic Pro', 'ÉqÉâÉMÉmäpÉS Pro W3', Meiryo, ÉÅÉCÉäÉI, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  overflow: auto;
  padding: 0px;
  color: #444;
  font-size: 16px;
  line-height: 1.5em;
  background-color: #eee;
}

.all {
  background-color: #fff;
  width: 70%;
  margin: 30px auto;
  padding: 50px 30px;
  border-radius: 6px;
  box-shadow:0px 2px 6px 0px #aaa;
}

a {
  color: #444;
  text-decoration: none;
  border-bottom: 1px dashed #444;
}
a:hover{
  color: #19e;
  border-bottom: 1px dashed #19e;
}

h1 { font-size: 2.5em; text-align: center;}

hr {
  border:none;
  border-bottom: 1px solid #ccc;
  margin: 20px;
}

.xenkwanki {
  margin: 30px;
  font-size: 1.2em;
}

#dat {
  font-size: 1.2em;
  border-radius: 5px;
  padding: 2px 6px;
  border: 2px solid #ccc;
}

#xenkwan {
  color: #fff;
  background-color: #aaa;
  border: none;
  padding: 2px 10px;
  border-radius: 20px;
}

#xenkwan:hover {
  background-color: #7ce
}

.box{ float:left; padding: 3px; width:70px; }

.outer { overflow: hidden; padding:10px; }
.outer:before,.outer:after { content: ""; display: table; }
.outer:after { clear: both; }

.kanzi { text-align: center; margin-bottom:10px; }
.kanzi rt {
  font-size: 0.8em;
  height: 22px;
}
.kanzi rb {
  font-size: 2.5em;
  font-family:"ÉqÉâÉMÉmñæí© ProN W6", "HiraMinProN-W6", "HGñæí©E", "ÇlÇr Çoñæí©", "MS PMincho", "MS ñæí©", serif;
  font-weight: bold;
}

.zihomlist { width:70px; text-align: center; }
.zihom { display:block; }

.zihom .radio { display: none; }
.zihomtext { font-size: 0.9em; }
.zihom .radio + .zihomtext { color: #999; }
.zihom .radio:checked + .zihomtext {
  color: #fff; 
  padding: 0px 5px;
  background-color: #7ce;
  border-radius: 3px;
}

#res {}
#res2 { margin-top:20px; }

#tweet { height: 30px;}